<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title></title>
		
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../plugins/swiper/css/swiper.min.css">
		
		<style type="text/css">
			#tleft {
				background-color: rgb(51,51,51);
			}
			#tleft li {
				background-color: rgb(51,51,51);
			}
			#tleft span{
				color: white;
			}
			#header span{
				color: white;
				font-size: 30px;
			}
			#header {
				background-color: rgb(51,51,51);
			}
			#login span{
				color: white;
			}
			#login {
				background-color: rgb(51,51,51);
			}
			#toptitle{
				background-color: rgb(51,51,51);
			}
			#search_form{
				background-color: rgb(51,51,51);
			}
			.dropdown-menu > li > a:hover,
			.dropdown-menu > li > a:focus {
			  text-decoration: none;
			  background-color: #66AFE9;
			}
			
			#myModal  span {
				font: "微软雅黑";
				font-size: 15px;
			}
			
			.label {
				font-size: 15px;
			}
			
			.mydiv{
				width: 100%; 
				text-align: center; 
				background-color: #5cb85c;
				border-radius: .30em;
				height: 25px;
				padding-top: 2px;
				margin: 1px;
			}
			.plantform div div div a span{
				color: white;
				font-weight: bolder;
			}
			
			#ranking div ul li{
				font: "微软雅黑";
				font-size:15px ;
				margin-top: 5px;
				margin-bottom: 5px;
			}
			
			#myswiper img{
				width: 100%;
				height: 100%;
			}
			
		</style>
		
	</head>
	<body>
		<!--导航start-->
		<div class="container">
			<div class="row" >
				<nav id="toptitle" class="navbar navbar-default" >
					<div class="container-fluid">
						<div id="header" class="navbar-header ">
							<a class="navbar-brand" href="index.html">
								<span id="">GameCentury</span>
							</a>
							
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target="#example-navbar-collapse" style="background-color: whitesmoke;">
								<span class="sr-only">切换导航</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							
						</div>
						
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
						
							<div id="tleft" class="col-md-4" >
								<ul class="nav navbar-nav" style="width: 100%;">
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>投稿</span></a>
									</li>
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>评论</span></a>
									</li>
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>帮助</span></a>
									</li>
								</ul>
							</div>
							
							<div id="login" class=" navbar-right login_control">
								<ul id="nologin" class="nav navbar-nav ">
									<li class="col-xs-push-1">
										<a href="#" data-toggle="modal" data-target="#myModal"><span>登录</span></a>
									</li>
									<li class="col-xs-push-1">
										<a href="#"><span>注册</span></a>
									</li>
									
								</ul>
								
								<ul id="haslogin" class="nav navbar-nav " style="display: none;">
									<li class="col-xs-push-1 hidden-xs">
										<a href="#" style="padding-top: 2px;padding-bottom: 0px;">
											<img src="../img/testw.jpg" style="width: 45px;height: 45px;border-radius: 50%;" />
										</a>
									</li>
								    <li class="col-xs-push-1 dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<span id="info_username">姓名</span> <span class="caret"></span>
										</a>
										<ul class="dropdown-menu" style="background-color: rgb(51,51,51);">
											<li>
												<a href="#"><span>个人信息</span></a>
											</li>
											<li>
												<a href="#"><span>我的投稿</span></a>
											</li>
											<li class="divider" style="color: white;"></li>
											<li>
												<a href="#"><span>退出</span></a>
											</li>
										</ul>
								    </li>
								</ul>
							</div>
							
							<div class="col-md-4 navbar-right" style="height: 50px; border-style: none; padding-left: 0px; " >
								<form id="search_form" class="form-control" action="#" method="post" style="height: 100%; border: none;">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button" >
												<span class="glyphicon glyphicon-search"></span>
											</button>
									    </span>
									</div>
								</form>
							</div>
						
						</div>
						
					</div>
				</nav>
				
			</div>
		</div>
		<!--导航end-->
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button id="loginclose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="myModalLabel">登录</h3>
					</div>
					<div class="modal-body">
						<div>
							<span>用户名</span>
							<input id="username" class="form-control" type="text" />
							
						</div>
						<br />
						<div>
							<span>密码</span>
							<input id="password" class="form-control" type="password"/>
						</div>
						
						<div class="checkbox">
							<label>
          						<input type="checkbox">请记住我
       						</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="login()" class="btn btn-primary" >登录</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		
		<!--分类-->
		<div class="container">
			<div class="row">
				<hr  />
			</div>
			
			
			<div class="row plantform">
				<div class="col-md-1 col-xs-2">
					<div class="mydiv" style="background-color: #31B0D5;width: 54px;margin-right: 20px;">
						<span style="font: '微软雅黑'; font-weight: bolder; color: white;">平台</span>					
					</div>
				</div>
				<div id="plants" class="col-md-11 col-xs-10">
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>FC</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>SFC</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>GB</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>GBC</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>GBA</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>NDS</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>PS</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>PSP</span></a></div>				
				</div>
			</div>
			
			<div class="row">
				<hr  />
			</div>

			<div class="row plantform">
				<div class="col-md-1 col-xs-2">
					<div class="mydiv" style="background-color: #31B0D5;width: 54px;margin-right: 20px;">
						<span style="font: '微软雅黑'; font-weight: bolder; color: white;">类型</span>					
					</div>
				</div>
				<div class="col-md-11 col-xs-10">
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>角色扮演</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>冒险</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>动作</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>射击</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>格斗</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>竞速</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>体育</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>策略</span></a></div>
				</div>
			</div>
			
			<div class="row">
				<hr  />
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				
				<!--热评排行start-->
				<div id="ranking" class="pull-right col-md-3 hidden-xs" style="border: 1px solid black; box-shadow: 10px 10px 5px #888888;">
					<h4>近期热评</h4>
					<hr style="margin-top: 0px; margin-bottom: 5px;"/>
					<div style="padding-left: 15px;">
						<ul class="" style="list-style: decimal; padding-left:0px ;" >
							<li><a href="#">重装机兵</a></li>
							<li><a href="#">热血格斗</a></li>
							<li><a href="#">口袋妖怪绿宝石</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">火焰文章：圣魔之光石 塞尔达传说：时之沙漏</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">勇者斗恶龙9</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">重装机兵：沙尘之锁</a></li>
							<li><a href="#">重装机兵</a></li>
							<li><a href="#">热血格斗</a></li>
							<li><a href="#">口袋妖怪绿宝石</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">火焰文章：圣魔之光石 塞尔达传说：时之沙漏</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">勇者斗恶龙9</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">重装机兵：沙尘之锁</a></li>
						</ul>
					</div>
					
				</div>
				<!--热评排行end-->
			
				<!--左部 热评榜 start-->
				<div class="col-md-8 col-xs-12" style="padding-left: 0px;">
					
					
					<span style="font-size: 20px; font-weight: bolder;">热评Top3</span>
					<a href="#" style="">
						<span class="glyphicon glyphicon-plus pull-right"></span>
					</a>
					
					<!-- Swiper -->
					<div id="myswiper" class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#"><img src="../img/testw.jpg" /></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="../img/testw.jpg" /></a>
							</div>
							<div class="swiper-slide">
								<a href="#"><img src="../img/testw.jpg" /></a>
							</div>
						</div>
						
						<!-- Add Pagination -->
    					<div class="swiper-pagination swiper-pagination-white"></div>
					</div>
					
				</div>
				<!--左部 热评榜 end-->
				
				<!--左部冷门推荐 start-->
				<div class="col-md-8 col-xs-12" style="padding-left: 0px;">
					<hr /><!--分割线-->
					<span style="font-size: 20px; font-weight: bolder;">冷门推荐</span>
					<hr style="margin-top: 0px;"/><!--分割线-->
					<!--冷门游戏列表-->
					<div>
						<div class="container-fluid">
							<div class="row">
								
								<div class="col-xs-6 col-md-3">
									<div class="thumbnail">
										<img class="lazy" data-original="../img/testw.jpg" alt="通用的占位符缩略图">
										<div class="caption">
											<h3>缩略图标签</h3>
											<p class="pull-right">
												<a href="#" class="text-danger">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</p>
											<p>
												<a href="#" class="text-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="thumbnail">
										<img class="lazy" data-original="../img/testw.jpg" alt="通用的占位符缩略图">
										<div class="caption">
											<h3>缩略图标签</h3>
											<p class="pull-right">
												<a href="#" class="text-danger">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</p>
											<p>
												<a href="#" class="text-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="thumbnail">
										<img class="lazy" data-original="../img/testw.jpg" alt="通用的占位符缩略图">
										<div class="caption">
											<h3>缩略图标签</h3>
											<p class="pull-right">
												<a href="#" class="text-danger">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</p>
											<p>
												<a href="#" class="text-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="thumbnail">
										<img class="lazy" data-original="../img/testw.jpg" alt="通用的占位符缩略图">
										<div class="caption">
											<h3>缩略图标签</h3>
											<p class="pull-right">
												<a href="#" class="text-danger">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</p>
											<p>
												<a href="#" class="text-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="thumbnail">
										<img class="lazy" data-original="../img/testw.jpg" alt="通用的占位符缩略图">
										<div class="caption">
											<h3>缩略图标签</h3>
											<p class="pull-right">
												<a href="#" class="text-danger">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</p>
											<p>
												<a href="#" class="text-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="thumbnail">
										<img class="lazy" data-original="../img/testw.jpg" alt="通用的占位符缩略图">
										<div class="caption">
											<h3>缩略图标签</h3>
											<p class="pull-right">
												<a href="#" class="text-danger">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</p>
											<p>
												<a href="#" class="text-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="thumbnail">
										<img class="lazy" data-original="../img/testw.jpg" alt="通用的占位符缩略图">
										<div class="caption">
											<h3>缩略图标签</h3>
											<p class="pull-right">
												<a href="#" class="text-danger">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</p>
											<p>
												<a href="#" class="text-warning">
													<span class="glyphicon glyphicon-edit"></span>
												</a>
											</p>
										</div>
									</div>
								</div>
								
							</div>
							<!--row end-->
						</div>
						<!--container end-->
						
					</div>
					<!--冷门游戏列表end-->
					
				</div>
				<!--左部冷门推荐end-->
			
			</div>
			<!--row end-->
			
		</div>
		<!--container end-->
		
		
		<div class="container">
			<div class="row">
				<div class="footer">footer</div>
			</div>
		</div>
		
		
		
		
		<script src="../plugins/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/jquery/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			$(function(){
				
				$("img.lazy").lazyload({
					effect: "fadeIn"
				})
			})

			function login(){
				var ur=$("#username").val();
				var pw=$("#password").val();
				
				var u="admin";
				var p="admin";
				if(ur==u && pw==p){
					$("#nologin").css("display","none");
					$("#haslogin").css("display","block");
					
					$("#loginclose").click();
					
				}
				else{
					alert("账号或密码错误");
				}
				
			}
			function loginout(){
				$("#nologin").css("display","block");
				$("#haslogin").css("display","none");
			}
			
			function remberLogin(){
				$("#remberlogin").click();
			}

			var swiper = new Swiper('.swiper-container', {
				
				loop: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
			
			});
		</script>
	</body>
</html>
