<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title></title>

		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/navigation.css"/>
	</head>
	<body>
		<!--导航start-->
		<div class="container">
			<div class="row" >
				<nav id="toptitle" class="navbar navbar-default" >
					<div class="container-fluid">
						<div id="header" class="navbar-header ">
							<a class="navbar-brand" href="index.html">
								<span id="">GameCentury</span>
							</a>
							
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target="#example-navbar-collapse" style="background-color: whitesmoke;">
								<span class="sr-only">切换导航</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							
						</div>
						
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
						
							<div id="tleft" class="col-md-4" >
								<ul class="nav navbar-nav" style="width: 100%;">
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>投稿</span></a>
									</li>
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>评论</span></a>
									</li>
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>帮助</span></a>
									</li>
								</ul>
							</div>
							
							<div id="login" class=" navbar-right login_control">
								<ul id="nologin" class="nav navbar-nav ">
									<li class="col-xs-push-1">
										<a href="#" data-toggle="modal" data-target="#myModal"><span>登录</span></a>
									</li>
									<li class="col-xs-push-1">
										<a href="#"><span>注册</span></a>
									</li>
									
								</ul>
								
								<ul id="haslogin" class="nav navbar-nav " style="display: none;">
									<li class="col-xs-push-1 hidden-xs">
										<a href="#" style="padding-top: 2px;padding-bottom: 0px;">
											<img src="../img/testw.jpg" style="width: 45px;height: 45px;border-radius: 50%;" />
										</a>
									</li>
								    <li class="col-xs-push-1 dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<span id="info_username">姓名</span> <span class="caret"></span>
										</a>
										<ul id="mydropdownm" class="dropdown-menu" style="background-color: rgb(51,51,51);">
											<li>
												<a href="#"><span>个人信息</span></a>
											</li>
											<li>
												<a href="#"><span>我的投稿</span></a>
											</li>
											<li class="divider" style="color: white;"></li>
											<li>
												<a href="#"><span>退出</span></a>
											</li>
										</ul>
								    </li>
								</ul>
							</div>
							
							<div class="col-md-4 navbar-right" style="height: 50px; border-style: none; padding-left: 0px; " >
								<form id="search_form" class="form-control" action="#" method="post" style="height: 100%; border: none;">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button" >
												<span class="glyphicon glyphicon-search"></span>
											</button>
									    </span>
									</div>
								</form>
							</div>
						
						</div>
						
					</div>
				</nav>
				
			</div>
		</div>
		
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button id="loginclose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="myModalLabel">登录</h3>
					</div>
					<div class="modal-body">
						<div>
							<span>用户名</span>
							<input id="username" class="form-control" type="text" />
							
						</div>
						<br />
						<div>
							<span>密码</span>
							<input id="password" class="form-control" type="password"/>
						</div>
						
						<div class="checkbox">
							<label>
          						<input type="checkbox">请记住我
       						</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="login()" class="btn btn-primary" >登录</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--导航end-->
		
		<!--个人信息-->
		<div class="container">
			<div class="row ">
			<!--头像-->
			<div class="col-md-7 " style="margin-top: 20px; ">
				<div class="row ">
			        <div class="col-md-2 col-xs-2 " style="width: 100px; height: 100px;" >
				        <img src="../img/testw.jpg " width="100px " height="100px ">
			        </div>
		            <!--姓名-->
			        <div style="margin-left:20px;" class="col-md-3 col-xs-2">
			 	    	<div>
			            	<h1>admin</h1>
					    </div>
		                <!--个性签名-->
		                <div>
		                	<form action=" " style="display: inline; " method="post ">
		               		    <input type="text " placeholder="(添加签名档) " name="signatue " size="20 " maxlength="20 " value>
		                	</form>
		                </div>
			        </div>
			    </div>
			    <hr />
			    <div>
			    	<div style="margin-top:50px;">
			    		<span>
			    			<h3>我的评论</h3>
			    		</span><br />
			    		<span style="margin-left: 50px;margin-right: 10px;">
			    			王者荣耀
			    		</span>
			    		<span>
			    			2019-1-20 00:11:18
			    		</span><br />
			    		<span style="margin-left: 100px;">
			    			今天天气很好
			    		</span>
			    	</div>
			    	<div style="margin-top: 20px;">
			    		<span>
			    			<h3>游戏分享</h3>
			    		</span><br />
			    		<span>
			    			Dota2
			    		</span><br />
			    		<span>
			    			2019-1-20 00:11:18
			    		</span><br />
			    		<span>
			    			<img src="../img/dota2.jpg" style="background-size: cover;width: 100% ;height: auto;"/>
			    		</span>
			    	</div>
			    	<div id="留言板 ">
			    		<h3>留言板</h3><br />
					<form>
					    <textarea style="width: 60%; height: 200px; "></textarea><br />
					    <input type="button" name="intruduce " value="提交 ">
				    </form>
				    </div>
			    	
			    </div>		
			    <div style="margin-left: 150px; margin-top: 50px; ">
			    	<img src="../img/testw.jpg" width="20px" height="20px" style="display:inline;">
			    	<span>
			    		<a href="#" style="text-decoration: none;">cpuxcc:</a>
			    	</span>
			    	<span>
			    		askdkassfjkavhsh
			    		<span style="color: blue;">
			    			19:30
			    		</span>
			    	</span>
			    	
			    	
			    </div>
			</div>
			<div class="col-md-3">
				<!--热评排行start-->
				<div id="ranking" class=" hidden-sm" style="border-top: 1px solid #1B6D85;  border-left:1px solid #1B6D85; box-shadow: 10px 10px 5px #888888;">
					<h4>近期热评</h4>
					<hr style="margin-top: 0px; margin-bottom: 5px;"/>
					<div >
						<ul class="" style="list-style: decimal; padding-left:30px ;" >
							<li><a href="#">重装机兵</a></li>
							<li><a href="#">热血格斗</a></li>
							<li><a href="#">口袋妖怪绿宝石</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">火焰文章：圣魔之光石 塞尔达传说：时之沙漏</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">勇者斗恶龙9</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">重装机兵：沙尘之锁</a></li>
							<li><a href="#">重装机兵</a></li>
							<li><a href="#">热血格斗</a></li>
							<li><a href="#">口袋妖怪绿宝石</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">火焰文章：圣魔之光石 塞尔达传说：时之沙漏</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">塞尔达传说：时之沙漏</a></li>
							<li><a href="#">勇者斗恶龙9</a></li>
							<li><a href="#">最终幻想7</a></li>
							<li><a href="#">重装机兵：沙尘之锁</a></li>
						</ul>
					</div>
					
				</div>
				<!--热评排行end-->
			</div>
			
			<div class="col-md-2 hidden-xs " style="position:fixed; top: 100px; right: 50px;">
				<!--个人信息-->
				<div id="information ">
					<span>
						所在地:浙江湖州
					</span><br />
					<span>
						id:13216543132
					</span><br />
					<span>
					注册时间:2019-1
					</span><br>
				</div>
				<hr />
				<div id="自我介绍 ">
					<form>
					    <textarea style="width: 200px; height: auto; "></textarea><br />
					    <input type="button" name="intruduce " value="提交 ">
				    </form>
				</div>
				
				<!--好友列表-->
				<div class="dropdown " style="margin-top: 20px;margin-bottom: 20px; ">
	<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
		好友列表
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation" class="dropdown-header">分组1</li>
		<li role="presentation" >
			<a role="menuitem" tabindex="-1" href="#">Java</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#">数据挖掘</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#">
				数据通信/网络
			</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li role="presentation" class="dropdown-header">分组2</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#">分离的链接</a>
		</li>
	</ul>
</div>
			</div>
			<div style="position: fixed; right: 100px; bottom: 30px;">
					<a href="#top"><img src="../img/up arrow.jpg" width="20" height="20"></a>
			</div>
			</div>
		</div>

		<script src="../plugins/jquery/jquery.min.js " type="text/javascript " charset="utf-8 "></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js " type="text/javascript " charset="utf-8 "></script>
		<script type="text/javascript ">
			function login(){
				var ur=$("#username ").val();
				var pw=$("#password ").val();
				
				var u="admin ";
				var p="admin ";
				if(ur==u && pw==p){
					$("#nologin ").css("display ","none ");
					$("#haslogin ").css("display ","block ");
					
					$("#loginclose ").click();
					
				}
				else{
					alert("账号或密码错误 ");
				}
				
			}
			function loginout(){
				$("#nologin ").css("display ","block ");
				$("#haslogin ").css("display ","none ");
			}
			
			function remberLogin(){
				$("#remberlogin ").click();
			}
		</script>
	</body>
</html>