<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title></title>
		
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../css/navigation.css" />
		<link rel="stylesheet" href="../css/classification.css" />
		
		<style type="text/css">
			.img_opacity{
				opacity:1.0;
                filter:alpha(opacity=100);/* 适用 IE8 及其更早版本 */
			}
			.img_opacity:hover
			{
				opacity:0.4;
				filter:alpha(opacity=40); /* 适用 IE8 及其更早版本 */
			}
			/*缩略图上边的部分*/
			#form-top{
				margin-bottom: 25px;
				margin-top: 25px;
			}
			#list_sort {
				width: 100%;
			    height: auto;
			    border: solid #D9D9D9;
			    border-width: 1px;
			}
			#list_sort .sort {
			    float: left;
			    width: 57%px;
			    height: 30px;
			    padding: 10px 0 0 16px;
			}
			#list_sort .paging {
			    float: right;
			    width: 43%px;
			    height: 30px;
			    padding: 11px 8px 0 0;
			    text-align: right;
			    font: 12px/1.5 SimSun;
			    color: #666;
			}
			#list_sort .sort a {
			    display: inline-block;
			    height: 28px;
			    margin: 0 12px 0 0;
			    padding: 0 8px 3px 8px;
			    font: 12px/2 SimSun;
			    color: #666;
			}
			#list_sort .sort a.active {
			    padding: 0 8px;
			    font-weight: bold;
			    color: #0091FF;
			}
			#list_sort .paging .number {
			    color: #0091FF;
			}
			#list_path{
				    margin-bottom: 16px;
			}
			/*缩略图上边的部分*/
			/*缩略图中的字体格式*/
			
			.feed-info {
		    padding: 15px;
		    padding-top: 15px;
		    padding-right: 15px;
		    padding-bottom: 15px;
		    padding-left: 15px;
		    }
			.rating-wrap {
			    float: right;
			    text-align: right;
			    position: relative;
			    height: 50px;
			    margin-left: 12px;
			    min-width: 45px;
			    color: #14B9C8;
	        }
	        .rating-score span {
			    font-size: 18px;
			    vertical-align: middle;
			}
			.feed-title {
			    font-size: 16px;
			    line-height: 28px;
			    color: #333;
			    font-weight: 700;
			}
			.feed-content p {
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			}
			.feed-description {
			    font-size: 13px;
			    color: #999;
			}
			/*缩略图中的字体格式*/
		</style>
		
	</head>
	<body>
		<!--导航start-->
		<div class="container">
			<div class="row" >
				<nav id="toptitle" class="navbar navbar-default" >
					<div class="container-fluid">
						<div id="header" class="navbar-header ">
							<a class="navbar-brand" href="index.html">
								<span id="">GameCentury</span>
							</a>
							
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target="#example-navbar-collapse" style="background-color: whitesmoke;">
								<span class="sr-only">切换导航</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							
						</div>
						
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
						
							<div id="tleft" class="col-md-4" >
								<ul class="nav navbar-nav" style="width: 100%;">
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>投稿</span></a>
									</li>
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>评论</span></a>
									</li>
									<li class="col-md-push-1 col-md-4 col-xs-4" style="">
										<a href="#" style=""><span>帮助</span></a>
									</li>
								</ul>
							</div>
							
							<div id="login" class=" navbar-right login_control">
								<ul id="nologin" class="nav navbar-nav ">
									<li class="col-xs-push-1">
										<a href="#" data-toggle="modal" data-target="#myModal"><span>登录</span></a>
									</li>
									<li class="col-xs-push-1">
										<a href="#"><span>注册</span></a>
									</li>
									
								</ul>
								
								<ul id="haslogin" class="nav navbar-nav " style="display: none;">
									<li class="col-xs-push-1 hidden-xs">
										<a href="#" style="padding-top: 2px;padding-bottom: 0px;">
											<img src="../img/testw.jpg" style="width: 45px;height: 45px;border-radius: 50%;" />
										</a>
									</li>
								    <li class="col-xs-push-1 dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<span id="info_username">姓名</span> <span class="caret"></span>
										</a>
										<ul id="mydropdownm" class="dropdown-menu" style="background-color: rgb(51,51,51);">
											<li>
												<a href="#"><span>个人信息</span></a>
											</li>
											<li>
												<a href="#"><span>我的投稿</span></a>
											</li>
											<li class="divider" style="color: white;"></li>
											<li>
												<a href="#"><span>退出</span></a>
											</li>
										</ul>
								    </li>
								</ul>
							</div>
							
							<div class="col-md-4 navbar-right" style="height: 50px; border-style: none; padding-left: 0px; " >
								<form id="search_form" class="form-control" action="#" method="post" style="height: 100%; border: none;">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button" >
												<span class="glyphicon glyphicon-search"></span>
											</button>
									    </span>
									</div>
								</form>
							</div>
						
						</div>
						
					</div>
				</nav>
				
			</div>
		</div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button id="loginclose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="myModalLabel">登录</h3>
					</div>
					<div class="modal-body">
						<div>
							<span>用户名</span>
							<input id="username" class="form-control" type="text" />
							
						</div>
						<br />
						<div>
							<span>密码</span>
							<input id="password" class="form-control" type="password"/>
						</div>
						
						<div class="checkbox">
							<label>
          						<input type="checkbox">请记住我
       						</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="login()" class="btn btn-primary" >登录</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!--导航end-->
		<!--分类-->
		<div class="container">
			<div class="row">
				<hr  />
			</div>
			
			
			<div class="row plantform">
				<div class="col-md-1 col-xs-2">
					<div class="mydiv" style="background-color: #31B0D5;width: 54px;margin-right: 20px;">
						<span style="font: '微软雅黑'; font-weight: bolder; color: white;">平台</span>					
					</div>
				</div>
				<div id="plants" class="col-md-11 col-xs-10">
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>FC</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>SFC</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>GB</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>GBC</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>GBA</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>NDS</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>PS</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>PSP</span></a></div>				
				</div>
			</div>
			
			<div class="row">
				<hr  />
			</div>

			<div class="row plantform">
				<div class="col-md-1 col-xs-2">
					<div class="mydiv" style="background-color: #31B0D5;width: 54px;margin-right: 20px;">
						<span style="font: '微软雅黑'; font-weight: bolder; color: white;">类型</span>					
					</div>
				</div>
				<div class="col-md-11 col-xs-10">
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>角色扮演</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>冒险</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>动作</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>射击</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>格斗</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>竞速</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>体育</span></a></div>
					<div style="display: inline; margin-right: 20px; font-size: 18px;"><a href="#"><span>策略</span></a></div>
				</div>
			</div>
			
			<div class="row">
				<hr  />
			</div>
		</div>
		<!--分类结束-->
		<!--缩略图-->
		<!--且图片均采用lazyload的加载方式-->
		<div id ="form-top"  class = "container">
			<div id="list_path">
			<a href="index.html" target="_self">主页</a> &gt; <a href="search_info.html" target="_self">角色扮演</a> 	
			</div>
			<div id="list_sort">
				<div class="sort">
					<a target="_self" href="/danji/list">默认排序</a>
					<a target="_self" href="/danji/list/11" class="order_item active">按更新↓</a>
					<a target="_self" href="/danji/list/2" class="order_item">按大小</a>
					<a target="_self" href="/danji/list/3" class="order_item">按人气</a>
					<a target="_self" href="/danji/list/4" class="order_item">按评分</a>
					
				</div>
				<div class="paging">
					共 <span class="number">11338 </span> 款游戏 <a target="_self" href="/danji/list/1?&amp;p=2" class="next">下一页</a>
				
				</div>
			</div>
		</div>
		
		<div  class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-3">
					<a href="#" style="text-decoration: none;">
						<div class="thumbnail">
							<img class="lazy img_opacity" data-original="../img/testw.jpg" alt="通用的占位符缩略图"/>
							<div class="caption">
								<div class="feed-info">
									<div class="rating-wrap">
										<p class="review-count">热度</p>
										<p class="rating-score">
											<span class="glyphicon glyphicon-heart"></span>
											<span>评分</span>
										</p>
									</div>
									<div class="feed-content">
										<p class="feed-title">
											<span>名字</span>
										</p>
										<p class="feed-description">平台+类型</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<a href="#" style="text-decoration: none;">
						<div class="thumbnail">
							<img class="lazy img_opacity" data-original="../img/testw.jpg" alt="通用的占位符缩略图"/>
							<div class="caption">
								<div class="feed-info">
									<div class="rating-wrap">
										<p class="review-count">热度</p>
										<p class="rating-score">
											<span class="glyphicon glyphicon-heart"></span>
											<span>评分</span>
										</p>
									</div>
									<div class="feed-content">
										<p class="feed-title">
											<span>名字</span>
										</p>
										<p class="feed-description">平台+类型</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<a href="#" style="text-decoration: none;">
						<div class="thumbnail">
							<img class="lazy img_opacity" data-original="../img/testw.jpg" alt="通用的占位符缩略图"/>
							<div class="caption">
								<div class="feed-info">
									<div class="rating-wrap">
										<p class="review-count">热度</p>
										<p class="rating-score">
											<span class="glyphicon glyphicon-heart"></span>
											<span>评分</span>
										</p>
									</div>
									<div class="feed-content">
										<p class="feed-title">
											<span>名字</span>
										</p>
										<p class="feed-description">平台+类型</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<a href="#" style="text-decoration: none;">
						<div class="thumbnail">
							<img class="lazy img_opacity" data-original="../img/testw.jpg" alt="通用的占位符缩略图"/>
							<div class="caption">
								<div class="feed-info">
									<div class="rating-wrap">
										<p class="review-count">热度</p>
										<p class="rating-score">
											<span class="glyphicon glyphicon-heart"></span>
											<span>评分</span>
										</p>
									</div>
									<div class="feed-content">
										<p class="feed-title">
											<span>名字</span>
										</p>
										<p class="feed-description">平台+类型</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<a href="#" style="text-decoration: none;">
						<div class="thumbnail">
							<img class="lazy img_opacity" data-original="../img/testw.jpg" alt="通用的占位符缩略图"/>
							<div class="caption">
								<div class="feed-info">
									<div class="rating-wrap">
										<p class="review-count">热度</p>
										<p class="rating-score">
											<span class="glyphicon glyphicon-heart"></span>
											<span>评分</span>
										</p>
									</div>
									<div class="feed-content">
										<p class="feed-title">
											<span>名字</span>
										</p>
										<p class="feed-description">平台+类型</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<a href="#" style="text-decoration: none;">
						<div class="thumbnail">
							<img class="lazy img_opacity" data-original="../img/testw.jpg" alt="通用的占位符缩略图"/>
							<div class="caption">
								<div class="feed-info">
									<div class="rating-wrap">
										<p class="review-count">热度</p>
										<p class="rating-score">
											<span class="glyphicon glyphicon-heart"></span>
											<span>评分</span>
										</p>
									</div>
									<div class="feed-content">
										<p class="feed-title">
											<span>名字</span>
										</p>
										<p class="feed-description">平台+类型</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3">
					<a href="#" style="text-decoration: none;">
						<div class="thumbnail">
							<img class="lazy img_opacity" data-original="../img/testw.jpg" alt="通用的占位符缩略图"/>
							<div class="caption">
								<div class="feed-info">
									<div class="rating-wrap">
										<p class="review-count">热度</p>
										<p class="rating-score">
											<span class="glyphicon glyphicon-heart"></span>
											<span>评分</span>
										</p>
									</div>
									<div class="feed-content">
										<p class="feed-title">
											<span>名字</span>
										</p>
										<p class="feed-description">平台+类型</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				
			</div><!--rowend-->
		</div>
		<!--缩略图结束-->
		<!--分页-->
		<div  align="center">
			<ul class="pagination">
				<li>
					<a href="#">&laquo;</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">&raquo;</a>
				</li>
			</ul>
		</div>
		<!--分页结束啦-->
		
		
		
		
		<script src="../plugins/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugins/jquery/jquery.lazyload.js"></script>
		<script type="text/javascript">
			
			$(function() {
                 $("img.lazy").lazyload({effect: "fadeIn"});
            });
			function login(){
				var ur=$("#username").val();
				var pw=$("#password").val();
				
				var u="admin";
				var p="admin";
				if(ur==u && pw==p){
					$("#nologin").css("display","none");
					$("#haslogin").css("display","block");
					
					$("#loginclose").click();
					
				}
				else{
					alert("账号或密码错误");
				}
				
			}
			function loginout(){
				$("#nologin").css("display","block");
				$("#haslogin").css("display","none");
			}
			
			function remberLogin(){
				$("#remberlogin").click();
			}
		</script>
	</body>
</html>
